{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <section class="form-section">
        <div class="card form-card">
            <h3>Welcome back!</h3>
            <form action="/login" method="post" class="form">
                <div class="mb-3 input-container">
                    <p class="required-text">Required</p>
                    <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div class="mb-3 input-container">
                    <p class="required-text">Required</p>
                    <input autocomplete="current-password" class="form-control" id="password" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary btn-width disabled-btn" id="login-user-btn" type="submit">Log in</button>
                <div class="text-center mt-3">
                    <p>Not a member? <a href="/register">Register</a></p>
                </div>
            </form>
        </div>
    </section>
    <script src="{{ url_for('static', filename='/js/login.js') }}"></script>
{% endblock %}